.global__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
}

.global__title_fio {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #000000;
}

.global__title_job {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.global__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 2em;
}

@media screen and (max-width: 900px) {
    .global__title, .global__title_fio, .global__text {
        font-size: 1em;
    }

    .global__title_job {
        font-size: 0.8em;
    }
}