html {
    background: url(/../../assets/pictures/background/4400px.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page {
    display: flex;
    flex-direction: column;
}

.page__container {
    margin: 30px 15% 20px 15%;
    padding: 30px;
    border: 1px solid black;
}

.page__container-about-me {
    background-color: var(--green);
}

.page__container-skills {
    background-color: var(--lightPink);
}

.page__container-hobbies {
    background-color: var(--light-blue);
}

.page__container-media {
    background-color: var(--dark-orange);
}

@media screen and (max-width: 900px) {
    .page__container {
        padding: 5px;
        display: flex;
        flex-direction: column;
        /* min-height: 400px; */
    }
}