.about-me {
    display: grid;
    grid-template-areas: 'header header header'
                         'info avatar avatar'
                         'button  . .';
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr 1fr;
}

/* хэдер */

.about-me__header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me__title {
    margin: auto 0;
    align-self: flex-start;
}

.about-me__bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

/* инфо */

.about-me__info {
    padding: 80px 80px 80px 0;
    grid-area: info;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* кнопка */

.about-me__button {
    grid-area: button;
    align-self: center;
}

/* аватар */

.about-me__avatar {
    grid-area: avatar;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me__picture {
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 50%;
}

/* мобилка */

@media screen and (max-width: 900px) {
    .about-me {
        display: flex;
        flex-direction: column;
        gap: 20px
    }

    .about-me__picture {
        width: 170px;
        height: 170px;
    }
    
    .about-me__header {
        display: flex;
        
    }

    .about-me__bio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
}