.media__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
}

.media__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.media__links {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.media__wrap {
    max-height: 75px;
    max-width: 75px;
}